{% extends 'core/base.html' %}

{% block head_title %}Demo Banking System - Test{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
            {% if request.user.is_authenticated and request.user.is_staff != 1 %}
            <div class="rounded-lg shadow-lg bg-white max-w-xs mx-auto mt-8">
                <div class="px-6 py-4">
                  <h2 class="text-xl font-bold mb-2">My Account Summary</h2>
                  <div class="flex flex-wrap -mx-2 mt-4">
                    <div class="px-2 w-full">
                      <div class="bg-gray-100 rounded-lg p-4 flex items-center">
                        <div class="rounded-full bg-blue-500 h-8 w-8 flex items-center justify-center mr-4">
                          <svg class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 2a8 8 0 100 16 8 8 0 000-16zM9 13a1 1 0 112 0 1 1 0 01-2 0zm1-6a1 1 0 00-1 1v3a1 1 0 002 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                          </svg>
                        </div>
                        <div>
                          <p class="text-gray-600 text-base leading-6 font-medium">Account no</p>
                          <p class="text-gray-900 text-lg leading-8 font-bold">{{ request.user.account.account_no }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="px-2 w-full">
                      <div class="bg-gray-100 rounded-lg p-4 flex items-center">
                        <div class="rounded-full bg-green-500 h-8 w-8 flex items-center justify-center mr-4">
                          <svg class="h-6 w-6 text-white" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 12a2 2 0 100-4 2 2 0 000 4z"/><path fill-rule="evenodd" d="M18.555 10.953A8 8 0 111.445 10a8 8 0 0117.11.953zM10 14a4 4 0 100-8 4 4 0 000 8z" clip-rule="evenodd"/>
                          </svg>
                        </div>
                        <div>
                          <p class="text-gray-600 text-base leading-6 font-medium">Account Type</p>
                          <p class="text-gray-900 text-lg leading-8 font-bold">{{ request.user.account.account_type }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% else %}
            <div class="mt-8">
                <section class="bg-gray-800 py-12 md:py-24">
                    <div class="container mx-auto px-6">
                      <h1 class="text-4xl md:text-5xl font-bold text-center text-gray-100 mb-8">
                        Welcome to our Banking System
                      </h1>
                      <p class="text-xl md:text-2xl text-gray-400 text-center">
                        Secure, fast, and convenient banking services at your fingertips.
                      </p>
                      <div class="flex justify-center mt-10">
                        <a href="{% url 'accounts:user_registration' %}" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-3 px-6 rounded-full">
                          Sign Up Now
                        </a>
                      </div>
                    </div>
                  </section>
            </div>
            {% endif %}
        </div>
        <!--Right Col-->
        <div class="w-full lg:w-1/2 lg:py-6 text-center">
            <h1 style="font-size: 12rem" class="font-black text-gray-800">🏦🏦🏦</h1>
        </div>
    </div>
{% endblock %}
