<hr>
<footer class="footer navbar-fixed">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <h4 class="title"><b>Baba Bank</b></h4>
                <p>In typography and word processing, the page footer (or simply footer) of a printed page is a section located under the main text, or body. Traditionally it was and still is the space for the page number..</p>
            </div>
            <!--/.First column-->
            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title"><b>Links</b></h5>
                <a href="{% url 'home' %}"> Main Page </a>|
                <a href="{% url 'about' %}">About Us</a> |&nbsp;

            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            Copyright© 2019: <a href="http://127.0.0.1:8000/"> b
            ababank.com</a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<br>
