{% extends 'core/base.html' %}

{% block title %} {{ block.super }}{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 50px;">
<div class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">BABA BANK</h1>
        <hr>
        <p class="lead text-muted"> Very good bank.</p>
        <p>
          <a class="btn btn-primary btn-md" href="{% url 'login' %}" role="button">Login Your Account</a>
          <a class="btn btn-success btn-md" href="{% url 'register' %}" role="button">Create a Bank Account</a>
        </p>
      </div>
</div>
</div>

{% endblock content %}
