    name: Changelog-CI

    # Controls when the action will run. Triggers the workflow on pull request
    on:
      pull_request:
        types: [opened, reopened]

    jobs:
      build:
        runs-on: ubuntu-latest

        steps:
          # Checks-out your repository
          - uses: actions/checkout@v2

          - name: Run Changelog-CI
            uses: saadmk11/changelog-ci@v1.1.0
            env:
              USERNAME:  ${{secrets.USERNAME}}
              EMAIL:  ${{secrets.EMAIL}}
