name: Selenium Test

on:
  push:
    branches: [selenium-automation-test]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run SeleniumBase tests
        run: |
          pytest banking-system-enhanced/selenium-automation-test/tests/scripts/test_login.py
